<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" href="css/style-about.css">
</head>
<body>
	<%- include('header',{username:username}) %>

	<main>
		<h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Iure debitis magnam odio, voluptate quis veniam nihil <br>tempora nemo laudantium eos vero animi omnis ipsum a <br>nam quod ipsam iste obcaecati.</p>
	</main>

</body>
</html>
