<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Website</title>
	<link rel="stylesheet" href="css/style-index.css">
</head>
<body>
	<%- include('header',{username:username}) %>

    <main>
        <% if(username){ %>
            <h2> Hello there!</h2>
            <h3>You have logged in as <%= username %></h3>
            <% } %>
    </main>

</body>
</html>
